<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA Bootstrap CSS Toggler plug-in for DITA Open Toolkit.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="net.infotexture.dita-bootstrap.extension" version="1.0.0">
  <require plugin="net.infotexture.dita-bootstrap"/>
  <feature extension="ant.import" file="process_extension.xml"/>
  <feature
    extension="bootstrap.process.pre"
    value="dita-bootstrap.extension.init"
  />
  <feature extension="dita.conductor.html5.param" file="insertParameters.xml"/>

  <transtype name="html5-bootstrap" extends="html5">
    <param name="to-top.include" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param
      name="bootstrap.css.to-top"
      type="string"
      desc="CSS for the to top button"
    />
  </transtype>
</plugin>
